.footer {
    position: realtive;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    text-align: center;
}

body {
    background-color: #EFEAE4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}