<div class="account-container">
    <h2>Account Information</h2>
    <div class="account-details">
        <div class="info-row">
            <div class="label">Full Name:</div>
            <ng-container *ngIf="isEditing; else viewModeLocation" class="value">
                <input type="text" [(ngModel)]="fullName" />
            </ng-container>
            <ng-template #viewModeLocation>{{ fullName }}</ng-template>
        </div>
        <div class="info-row">
            <div class="label">Email:</div>
            <div class="value">{{ email }}</div>
        </div>
    </div>
    <div class="actions">
        <button id="btn" (click)="toggleEditMode()" mat-raised-button>
            {{ isEditing ? 'Save' : 'Edit' }}
        </button>
        <button (click)="signOut()" mat-raised-button>Sign Out</button>
    </div>

    <ng-container class="cv-upload" *ngIf="!authService.connectedUser.isCompany">
        <h3>Upload CV</h3>
        <input type="file" accept=".pdf" (change)="handleCVUpload($event)" />
    </ng-container>
</div>

<script>

    $(document).ready(function () {
        alert("hi zahra");
        
        $("#btn").click(function () {
            location.reload(true);
        });
    })

</script>