<div class="account-container">
    <h2>Account Information</h2>
    <div class="account-details">
        <div class="info-row">
            <div class="label">First Name:</div>
            <div class="value">
                <ng-container *ngIf="isEditing; else viewModeFirstName">
                    <input type="text" [(ngModel)]="firstName" />
                </ng-container>
                <ng-template #viewModeFirstName>{{ firstName }}</ng-template>
            </div>
        </div>
        <div class="info-row">
            <div class="label">Last Name:</div>
            <div class="value">
                <ng-container *ngIf="isEditing; else viewModeLastName">
                    <input type="text" [(ngModel)]="lastName" />
                </ng-container>
                <ng-template #viewModeLastName>{{ lastName }}</ng-template>
            </div>
        </div>
        <div class="info-row">
            <div class="label">Email:</div>
            <div class="value">
                <ng-container *ngIf="isEditing; else viewModeEmail">
                    <input type="email" [(ngModel)]="email" />
                </ng-container>
                <ng-template #viewModeEmail>{{ email }}</ng-template>
            </div>
        </div>
        <div class="info-row">
            <div class="label">Number:</div>
            <div class="value">
                <ng-container *ngIf="isEditing; else viewModeNumber">
                    <input type="text" [(ngModel)]="number" />
                </ng-container>
                <ng-template #viewModeNumber>{{ number }}</ng-template>
            </div>
        </div>
    </div>
    <div class="actions">
        <button (click)="toggleEditing()">{{ isEditing ? 'Save' : 'Edit' }}</button>
        <button (click)="signOut()">Sign Out</button>
    </div>

    <div class="cv-upload">
        <h3>Upload CV</h3>
        <input type="file" accept=".pdf" (change)="handleCVUpload($event)" />
    </div>
</div>