<header>
  <mat-toolbar class="header-toolbar">
    <a class="logo" routerLink="/home">
      <img src="../../assets/jobHuntLogo.jpeg" alt="">
    </a>
    
    <nav>
      <ng-container *ngTemplateOutlet="userLinks"></ng-container>
    </nav>
    
    <ng-template #userLinks>
      <a *ngIf="!authService.connectedUser || !authService.connectedUser.isCompany" mat-button routerLink="/jobs">Trouver un job</a>
      <a *ngIf="!authService.connectedUser || !authService.connectedUser.isCompany" mat-button routerLink="/companies">Trouver une entreprise</a>
      <a *ngIf="authService.connectedUser && !authService.connectedUser.isCompany" mat-button routerLink="/myapplications">Mes Demandes</a>
    
      <a *ngIf="authService.connectedUser && authService.connectedUser.isCompany" mat-button routerLink="/addJob">Ajouter un job</a>
      <a *ngIf="authService.connectedUser && authService.connectedUser.isCompany" mat-button routerLink="/candidatures">Les candidatures</a>
    </ng-template>
    
    <span class="flex-spacer"></span>
    
    <div *ngIf="authService.connectedUser && !authService.connectedUser.isCompany" class="search-container">
      <div class="input-group">
          <mat-icon class="search-icon" matPrefix>search</mat-icon>
        <input class="form-control" placeholder="Search" [(ngModel)]="searchTerm" (keyup.enter)="search(searchTerm)">
      </div>
    </div>

    <div>
      <span *ngIf="authService.connectedUser">
        {{ authService.connectedUser.fullName }}
        <a class="account-logo" routerLink="/account" routerLinkActive="active-link">
          <i class="material-icons white-icon">account_circle</i>
        </a>
      </span>
      <button *ngIf="!authService.connectedUser" routerLink="/signin" routerLinkActive="active-link" mat-raised-button color="accent">Sign In</button>
      <button *ngIf="!authService.connectedUser" routerLink="/signup" routerLinkActive="active-link" mat-raised-button color="accent">Sign Up</button>
    </div>

    
  </mat-toolbar>
</header>