<div class="job-form-container">
    <h2>Add New Job</h2>
    <form id="myForm" (ngSubmit)="addJob()">
        <div class="form-group">
            <input type="text" id="title" [(ngModel)]="job.title" name="title" required>
        </div>
        <div class="form-group">
            <legend for="location">Location:</legend>
            <input type="text" id="location" [(ngModel)]="job.location" name="location" required>
        </div>
        <div class="form-group">
            <legend for="description">Description:</legend>
            <textarea id="description" [(ngModel)]="job.description" name="description" required></textarea>
        </div>
        <div class="form-group">
            <legend for="date">Date:</legend>
            <input type="date" id="date" [(ngModel)]="job.date" name="date" required>
        </div>
        <button type="submit" mat-raised-button>Add Job</button>
    </form>
</div>