<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="custom-component">
    <div class="left-section">
      <h1>Explorez le monde professionnel et trouvez les opportunités les plus excitantes</h1>
    </div>
    <div class="right-section">
        <a class="text-button" routerLink="/jobs">
          Trouvez un job <i class="fas fa-arrow-right"></i>
        </a>
    
        <a class="text-button" routerLink="/entreprise">
          Trouvez une entreprise <i class="fas fa-arrow-right"></i>
        </a>
    
        <a class="text-button" routerLink="/salaire">
          Estimation de salaire <i class="fas fa-arrow-right"></i>
        </a>
    </div>      
  </div>
  