.nos-expert {
    width: 60%;
    display: flex;
    height: 300px;
    padding: 20px;
    margin: auto;
    padding-bottom: 100px;
}

.welcome {
    margin: 20px;
}

.float-child {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.float-child.right {
    background-color: #F6F6F6;
    text-align: right;
}

.float-child.left {
    background-color: #95C578;
}

.centered-image {
    position: absolute;
    width: 500px;
    height: 250px;
    left: 50%;
    top: 85%;
    transform: translate(-50%, -50%);
}