.footer {
  background-color: white;
  padding: 30px;
  margin-top: auto;
  bottom: 0;
  position: fixed;
  width: 100%;  
}

.footer-left {
  float: left;
}

.footer-middle {
  text-align: center;
}

.footer-right {
  float: right;
}

.footer img {
  width: 40px;
}

.footer p {
  margin: 0;
}

.footer-middle p {
  font-weight: bold;
}