<div class="sign-up-container">
    <h2>Sign Up</h2>
    <form (ngSubmit)="signUp()">
        <div class="form-group">
            <legend for="fullName">Full Name</legend>
            <input type="text" id="firstName" [(ngModel)]="fullName" name="firstName" required>
        </div>
        <div class="form-group">
            <legend for="email">Email</legend>
            <input type="email" id="email" [(ngModel)]="email" name="email" required>
        </div>
        <div class="form-group">
            <legend for="password">Password</legend>
            <input type="password" id="password" [(ngModel)]="password" name="password" required>
        </div>
        <div class="form-group">
            <legend for="user-type">User Type</legend>
            <div class="radio-group">
                <legend>
                    <input type="radio" name="user-type" value="company" [(ngModel)]="userType" required>
                    Company
                </legend>
                <legend>
                    <input type="radio" name="user-type" value="employee" [(ngModel)]="userType" required>
                    Employee
                </legend>
            </div>
        </div>
        <button (click)="signUp()" type="button" mat-raised-button>Sign Up</button>
    </form>

    <p>
        You have an account?
        <a (click)="redirectToSignIn()">Sign In</a>
    </p>
</div>
